.style_keynoteform__Vzg7W .style_subtitle__xP81M,
.style_keynoteform__Vzg7W .style_title__2UbzK {
    margin-bottom: calc(var(--1)*16);
    text-align: center
}

.style_keynoteform__Vzg7W form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*24);
    margin-inline: auto
}

@media(min-width:991.98px) {
    .style_keynoteform__Vzg7W form {
        min-width: calc(var(--1)*500)
    }
}

.style_keynoteform__Vzg7W form>div>label {
    font-weight: 700;
    font-size: calc(var(--1)*16);
    letter-spacing: calc(var(--1)*.3)
}

.style_keynoteform__Vzg7W form .style_notes__aKA3C {
    padding: calc(var(--1)*20) calc(var(--1)*16);
    border-radius: calc(var(--1)*12);
    background: #e8f4fd;
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*16);
    font-size: calc(var(--1)*16);
    letter-spacing: calc(var(--1)*.64)
}

.style_keynoteform__Vzg7W form .style_notes__aKA3C ul {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*8);
    padding-left: calc(var(--1)*16)
}

.style_keynoteform__Vzg7W form .style_notes__aKA3C ul li {
    list-style: disc
}

.style_keynoteform__Vzg7W form button {
    width: 100%;
    justify-content: center
}

@media(min-width:991.98px) {
    .style_keynoteform__Vzg7W form {
        max-width: calc(var(--1)*424)
    }
}

.style_keynoteform__Vzg7W form .style_learnMore__Sq4wq {
    text-decoration: underline
}

.style_input__d5JsO {
    display: flex;
    flex-direction: column
}

.style_input__d5JsO .style_controller__nvybk {
    position: relative;
    padding: 1px;
    isolation: isolate;
    overflow: hidden;
    border-radius: calc(var(--1)*12)
}

.style_input__d5JsO .style_controller__nvybk:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(10deg, var(--primary) 0, rgba(0, 149, 255, .16) 50%, var(--primary) 100%);
    z-index: -1
}

.style_input__d5JsO .style_controller__nvybk.style_light__z0G2T:after {
    background: #eef3f5
}

.style_input__d5JsO .style_controller__nvybk.style_error__PziOt:after {
    background: linear-gradient(10deg, var(--error) 0, rgba(223, 67, 117, .463) 50%, var(--error) 100%)
}

.style_input__d5JsO .style_controller__nvybk.style_success__0Z81G:after {
    background: linear-gradient(10deg, #74e0d5, rgba(116, 224, 213, .439) 50%, #74e0d5)
}

.style_input__d5JsO .style_controller__nvybk input {
    padding-inline: calc(var(--1)*24);
    width: 100%;
    height: calc(var(--1)*56);
    background: var(--Container-On-Dark-Section, #051153);
    border-radius: calc(var(--1)*12);
    outline: #fff;
    font-size: calc(var(--1)*16)
}

@media(max-width:991.98px) {
    .style_input__d5JsO .style_controller__nvybk input {
        font-size: calc(var(--1)*14);
        height: calc(var(--1)*42)
    }
}

.style_input__d5JsO .style_controller__nvybk.style_light__z0G2T input {
    background-color: #eef3f5
}

.style_input__d5JsO .style_controller__nvybk input::-webkit-inner-spin-button,
.style_input__d5JsO .style_controller__nvybk input::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.style_input__d5JsO .style_controller__nvybk input[type=number] {
    -moz-appearance: textfield
}

.style_input__d5JsO .style_controller__nvybk.style_right__R6XjJ input {
    padding-right: calc(var(--1)*50)
}

.style_input__d5JsO .style_controller__nvybk.style_left__ZkaCL input {
    padding-left: calc(var(--1)*50)
}

.style_input__d5JsO .style_controller__nvybk .style_icon__6CHXb {
    display: flex;
    width: calc(var(--1)*16);
    height: calc(var(--1)*16);
    min-width: calc(var(--1)*16);
    min-height: calc(var(--1)*16);
    -o-object-fit: contain;
    object-fit: contain
}

.style_input__d5JsO .style_controller__nvybk .style_customLabel__FJRk4 {
    display: flex;
    margin: 0
}

.style_input__d5JsO .style_controller__nvybk .style_left__ZkaCL {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: calc(var(--1)*24);
    display: flex;
    align-items: center;
    gap: calc(var(--1)*10)
}

.style_input__d5JsO .style_controller__nvybk .style_right__R6XjJ {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: calc(var(--1)*24);
    display: flex;
    align-items: center;
    gap: calc(var(--1)*10)
}

.style_input__d5JsO label {
    margin-bottom: calc(var(--1)*10);
    font-size: calc(var(--1)*16)
}

@media(max-width:991.98px) {
    .style_input__d5JsO label {
        font-size: calc(var(--1)*14)
    }
}

.style_input__d5JsO .style_infoDesc__MIj8g {
    margin-top: calc(var(--1)*5)
}

.style_text__Z44aT {
    line-height: normal
}

@media(min-width:991.98px) {
    .style_text__Z44aT.style_xs__fVs46 {
        font-size: calc(var(--1)*12)
    }

    .style_text__Z44aT.style_sm__RimS5 {
        font-size: calc(var(--1)*14)
    }

    .style_text__Z44aT.style_md__ZQhe4 {
        font-size: calc(var(--1)*16);
        letter-spacing: calc(var(--1)*.44)
    }

    .style_text__Z44aT.style_lg__AdDq0 {
        font-size: calc(var(--1)*22);
        letter-spacing: calc(var(--1)*.44)
    }

    .style_text__Z44aT.style_xl__HaD9x {
        font-size: calc(var(--1)*32);
        letter-spacing: calc(var(--1)*.64)
    }
}

@media(max-width:991.98px) {
    .style_text__Z44aT.style_xs__fVs46 {
        font-size: calc(var(--1)*10)
    }

    .style_text__Z44aT.style_sm__RimS5 {
        font-size: calc(var(--1)*12)
    }

    .style_text__Z44aT.style_md__ZQhe4 {
        font-size: calc(var(--1)*14);
        letter-spacing: calc(var(--1)*.28)
    }

    .style_text__Z44aT.style_lg__AdDq0 {
        font-size: calc(var(--1)*18);
        letter-spacing: calc(var(--1)*.36)
    }

    .style_text__Z44aT.style_xl__HaD9x {
        font-size: calc(var(--1)*22);
        letter-spacing: calc(var(--1)*.48)
    }
}

.style_section__hNDpT .style_headerArea__ln8JC {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark);
    height: calc(var(--1)*110)
}

@media(min-width:991.98px) {
    .style_section__hNDpT .style_headerArea__ln8JC {
        height: calc(var(--1)*120)
    }
}

.style_section__hNDpT .style_content__qfgIJ {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*12)
}

@media(max-width:991.98px) {
    .style_section__hNDpT .style_content__qfgIJ {
        gap: calc(var(--1)*24)
    }
}

.style_section__hNDpT .style_content__qfgIJ .style_titleTop__fw5e_ {
    font-weight: 700
}

@media(max-width:991.98px) {
    .style_section__hNDpT .style_content__qfgIJ .style_titleTop__fw5e_ {
        font-size: calc(var(--1)*20);
        line-height: calc(var(--1)*22);
        margin-bottom: calc(var(--1)*8);
        display: block
    }
}

.style_section__hNDpT .style_content__qfgIJ .style_texts__2ag08 {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*16)
}

.style_section__hNDpT .style_content__qfgIJ .style_texts__2ag08 ul {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*16);
    margin-bottom: calc(var(--1)*24)
}

.style_section__hNDpT .style_content__qfgIJ .style_texts__2ag08 li {
    list-style-type: disc;
    margin-left: calc(var(--1)*40)
}

@media(max-width:991.98px) {
    .style_section__hNDpT .style_content__qfgIJ .style_texts__2ag08 li {
        margin-left: calc(var(--1)*16)
    }
}

.style_section__K46ck {
    overflow: unset !important
}

.style_sectionContainer__oErws {
    position: relative
}

@media(min-width:991.98px) {
    .style_sectionContainer__oErws .style_desc___bTux {
        letter-spacing: 0
    }
}

@media(max-width:991.98px) {
    .style_sectionContainer__oErws .style_desc___bTux {
        font-weight: 700;
        font-size: calc(var(--1)*18);
        letter-spacing: calc(var(--1)*.36)
    }

    .style_sectionContainer__oErws {
        text-align: center
    }
}

.style_sectionContainer__oErws .style_btns__eS32b {
    display: flex;
    gap: calc(var(--1)*20);
    margin-top: calc(var(--1)*40)
}

@media(min-width:991.98px) {
    .style_sectionContainer__oErws .style_btns__eS32b {
        margin-top: calc(var(--1)*80)
    }
}

@media(max-width:991.98px) {
    .style_sectionContainer__oErws .style_btns__eS32b {
        justify-content: center
    }

    .style_sectionContainer__oErws .style_cube__p2p8S {
        width: calc(var(--1)*245);
        height: calc(var(--1)*245);
        margin-inline: auto;
        margin-bottom: calc(var(--1)*40);
        transform: rotate(33deg)
    }
}

@media(min-width:991.98px) {
    .style_sectionContainer__oErws .style_cube__p2p8S {
        width: calc(var(--1)*245);
        height: calc(var(--1)*245);
        position: absolute;
        top: 0;
        right: calc(var(--1)*100);
        transform: translateY(-80%) rotate(-16deg)
    }
}

.style_section__ndQwV .style_content__BT0L8 {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*80)
}

@media(max-width:991.98px) {
    .style_section__ndQwV .style_content__BT0L8 {
        gap: calc(var(--1)*40)
    }
}

.style_section__ndQwV .style_content__BT0L8 .style_title__Y0Yb4 {
    text-align: center;
    font-weight: 700
}

.style_section__ndQwV .style_content__BT0L8 .style_boxes__LvDxL {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--1)*24)
}

@media(max-width:991.98px) {
    .style_section__ndQwV .style_content__BT0L8 .style_boxes__LvDxL {
        display: flex;
        flex-direction: column
    }
}

.style_section__ndQwV .style_content__BT0L8 .style_boxes__LvDxL .style_box__iVYK3 {
    padding: calc(var(--1)*40);
    border-radius: calc(var(--1)*32);
    border: calc(var(--1)*1.5) solid var(--Strokes-On-Light-Stroke, rgba(3, 19, 56, .12))
}

.style_section__ndQwV .style_content__BT0L8 .style_boxes__LvDxL .style_box__iVYK3 .style_title__Y0Yb4 {
    font-weight: 700;
    max-width: 50%
}

.style_section__ndQwV .style_content__BT0L8 .style_boxes__LvDxL .style_box__iVYK3 .style_subtitle__Hb34C {
    font-weight: 400
}

.style_section__ndQwV .style_content__BT0L8 .style_boxes__LvDxL .style_box__iVYK3 .style_list__pLyPP {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*20);
    margin-top: calc(var(--1)*40)
}

.style_section__ndQwV .style_content__BT0L8 .style_boxes__LvDxL .style_box__iVYK3 .style_list_item__Q1a3a {
    display: flex;
    gap: calc(var(--1)*12)
}

.style_section__ndQwV .style_content__BT0L8 .style_boxes__LvDxL .style_box__iVYK3 .style_list_item__Q1a3a .style_icon__UEojV {
    aspect-ratio: 1;
    min-width: calc(var(--1)*20);
    max-width: calc(var(--1)*20)
}

.style_section__D__22 .style_content__24GCa {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*48)
}

@media(max-width:991.98px) {
    .style_section__D__22 .style_content__24GCa {
        gap: calc(var(--1)*40)
    }
}

.style_section__D__22 .style_content__24GCa .style_boxes__gvp5_ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--1)*24)
}

@media(max-width:991.98px) {
    .style_section__D__22 .style_content__24GCa .style_boxes__gvp5_ {
        display: flex;
        flex-direction: column
    }
}

.style_section__EXvKK {
    padding-block: calc(var(--1)*56) calc(var(--1)*80) !important
}

@media(max-width:991.98px) {
    .style_section__EXvKK {
        padding-block: calc(var(--1)*40) calc(var(--1)*60) !important
    }
}

.style_section__EXvKK .style_container__q4CLq .style_content__NCJP9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: calc(var(--1)*40)
}

@media(max-width:991.98px) {
    .style_section__EXvKK .style_container__q4CLq .style_content__NCJP9 {
        flex-direction: column;
        gap: calc(var(--1)*28)
    }
}

.style_section__EXvKK .style_container__q4CLq .style_content__NCJP9 .style_box__lWoIM {
    border: calc(var(--1)*1) solid var(--Strokes-On-Dark-Stroke, rgba(0, 148, 255, .16));
    border-radius: calc(var(--1)*32);
    display: flex;
    padding: calc(var(--1)*40);
    gap: calc(var(--1)*24)
}

@media(max-width:991.98px) {
    .style_section__EXvKK .style_container__q4CLq .style_content__NCJP9 .style_box__lWoIM {
        flex-direction: column;
        padding: calc(var(--1)*20) calc(var(--1)*28)
    }
}

.style_section__EXvKK .style_container__q4CLq .style_content__NCJP9 .style_box__lWoIM .style_icon__2AnBu {
    min-width: calc(var(--1)*48);
    max-width: calc(var(--1)*48);
    margin-top: calc(var(--1)*4)
}

.style_section__EXvKK .style_container__q4CLq .style_content__NCJP9 .style_box__lWoIM .style_texts__WzoqI {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*8)
}

.style_section__EXvKK .style_container__q4CLq .style_content__NCJP9 .style_box__lWoIM .style_title__ArbeG {
    font-weight: 700;
    font-size: calc(var(--1)*22) !important
}

.style_section__EXvKK .style_container__q4CLq .style_content__NCJP9 .style_box__lWoIM .style_desc__Chiuq {
    color: #c1cade;
    letter-spacing: 4%
}

@media(max-width:991.98px) {
    .style_section__EXvKK .style_container__q4CLq .style_content__NCJP9 .style_box__lWoIM .style_desc__Chiuq {
        font-size: calc(var(--1)*16)
    }
}

.style_section__4cS7G {
    padding-block: calc(var(--1)*100) !important
}

@media(max-width:991.98px) {
    .style_section__4cS7G {
        padding-block: calc(var(--1)*80) !important
    }
}

.style_section__4cS7G .style_container__K_cNs .style_content__hEzxI {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: calc(var(--1)*40)
}

@media(max-width:991.98px) {
    .style_section__4cS7G .style_container__K_cNs .style_content__hEzxI {
        flex-direction: column;
        gap: calc(var(--1)*28)
    }
}

.style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_top__pI92i {
    display: flex;
    justify-content: space-between;
    gap: calc(var(--1)*80);
    width: 100%;
    align-items: flex-start
}

@media(max-width:991.98px) {
    .style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_top__pI92i {
        flex-direction: column;
        gap: calc(var(--1)*40)
    }
}

.style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_top__pI92i .style_left__JPzQS {
    max-width: calc(var(--1)*540);
    text-align: center;
    width: 100%
}

.style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_top__pI92i .style_right__wZR9f {
    max-width: calc(var(--1)*540);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*20)
}

.style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_box__9XYSw {
    border: calc(var(--1)*1) solid var(--Strokes-On-Dark-Stroke, rgba(0, 148, 255, .16));
    border-radius: calc(var(--1)*32);
    display: flex;
    padding: calc(var(--1)*40);
    gap: calc(var(--1)*24);
    width: 100%
}

@media(max-width:991.98px) {
    .style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_box__9XYSw {
        flex-direction: column;
        padding: calc(var(--1)*20) calc(var(--1)*28)
    }
}

.style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_box__9XYSw .style_icon__0Yaa_ {
    min-width: calc(var(--1)*48);
    max-width: calc(var(--1)*48);
    margin-top: calc(var(--1)*4)
}

.style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_box__9XYSw .style_texts__kozuR {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*8)
}

.style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_box__9XYSw .style_title__16euQ {
    font-weight: 700;
    font-size: calc(var(--1)*22) !important
}

.style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_box__9XYSw .style_desc__WnDHg {
    color: #c1cade;
    letter-spacing: 4%
}

@media(max-width:991.98px) {
    .style_section__4cS7G .style_container__K_cNs .style_content__hEzxI .style_box__9XYSw .style_desc__WnDHg {
        font-size: calc(var(--1)*16)
    }
}

.style_section__X14DM {
    padding-block: calc(var(--1)*100) !important
}

.style_section__X14DM .style_content__7caAe {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*48)
}

@media(max-width:991.98px) {
    .style_section__X14DM .style_content__7caAe {
        gap: calc(var(--1)*40)
    }
}

.style_section__X14DM .style_content__7caAe .style_boxes__RenG_ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--1)*24)
}

@media(max-width:991.98px) {
    .style_section__X14DM .style_content__7caAe .style_boxes__RenG_ {
        display: flex;
        flex-direction: column
    }
}

.style_section__X14DM .style_content__7caAe .style_button__HNJVz {
    margin-inline: auto
}